App-data
sr
*.o
.vim
.vscode
.ssh
.cache
.*.d
.FIRST_TIME
.bash_history
.bashrc
.forward
.login
.mailrc
.mbox
.newsrc
.profile
.sha1.d
.sr_dumper.d
.sr_if.d
.sr_main.d
.sr_pwospf.d
.sr_router.d
.sr_rt.d
.sr_vns_comm.d
.viminfo
.vnlconn.d 
.swp
rtable*


